# /trece-app/docker-compose.yml
services:
  trece:
    build: .
    container_name: alma_agent
    volumes:
      - ./src:/app/src
    working_dir: /app
    stdin_open: true
    tty: true
    networks:
      - srv-network
    environment:
      - DATABASE_URL=postgresql://alma:umamia@psql:5433/hood
    command: ["bash"]

networks:
  srv-network:
    external: true
    name: srv_srv-network