services:
  alma-agent:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: alma_agent
    volumes:
      - ./src:/app/src
    working_dir: /app
    stdin_open: true
    tty: true
    networks:
      - srv_srv-network
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    command: ["bash"]

networks:
  srv_srv-network:
    external: true
    name: srv_srv-network